:root{
    --color-list: #7c5098;
    --color-font-list: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #99D9EA;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    margin-top: 20px; /* Espaço do topo */
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 100px;
    text-align: center;
    flex: 0 0 auto;
    margin: 10px;
}

p {
    margin-top: 5px;
    font-size: 12px; /* Tamanho da fonte reduzido */
}

/* Para facilitar o arrasto no carrossel */
.carousel-container {
    overflow: hidden;
    touch-action: pan-y;
}

.carousel {
    display: flex;
    will-change: transform;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* Adicionando estilo ao formulário */
.transaction-form {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="month"],
select {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px; /* Adicionado */
}

.checkbox-group { /* Adicionado */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Novo estilo adicionado para o botão de salvar */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para a lista de contas */
.lista{
    overflow-y: scroll;
    border: 5px;
    border-color: black;
    scrollbar-width: 5px;
    margin-bottom: 10px;
	max-height: 160px;
}

::-webkit-scrollbar{
    display: none;
}

ol{
    list-style-type: none;
    padding: 0;      
}
ol li{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 30px;
    margin-bottom: 8px;
    color: var(--color-font-list);
    background: var(--color-list);
}

ol li:hover{
    opacity:0.8;
}

.listaTitulo{
    max-width: 20ch;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    margin: 4px 0; 
    display: inline;
}

.subLista{
    width: 50%;
    text-align: right;
    font-style: italic;
    font-size: 9pt;
    margin: 0px; 
    float: right;
    display: inline;
}

.transaction-list {
    margin: 20px;
    padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


